
body{background-image: url(/img/fondo3.jpg);}
.titulo {
    border: 0.5vw solid #e8a143; 
    border-style: inset;
  background-color: hsl(0, 0%, 100%); 
  color: #000000; 
  padding: 2vw 4vw; 
  border-radius: 2vw; 
  text-align: center; 
  font-size: 4vw;
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 0.15vw; 
  margin: 2vw 0;
  font:bolder;
  font-family: serif;
}
.subtitulo{
    border: 0.4vw solid #e8a143; 
    border-style: inset;
    background-color: hsl(0, 0%, 100%); 
    color: #000000; 
    padding: 2vw 4vw; 
    border-radius: 10px; 
    text-align: center; 
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 0.15vw; 
    margin: 2vw 0;
    font:bolder;
    font-family: serif;
    text-align: center
    
    
}

.sub{
    border: 0.3vw solid #e8a143; 
    border-style: inset;
background-color: hsl(0, 0%, 100%); 
color: #000000; 
padding: 5px 10px; 
border-radius: 5px; 
text-align: center; 
font-size: 2vw;
font-weight: bold;
text-transform: uppercase; 
letter-spacing: 1px; 
margin: 20px 20px;
font:bolder;
font-family: serif;
text-align: center
}

.textos{
    background-color: hsl(0, 0%, 100%);
    border: 2px solid #edd489;
    border-style: double;
    font-size: 2.2vw;

}

.lupa{
    height: 30px;
    width: 30px;
}

#carouselExampleIndicators{
    width: 80%;
}
.carusel{
    display: flex;
justify-content:center;
align-items: center;    
}

.linkz{
    border: 3px solid;
    border-color:#edd489;
}
.imagenes{
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    size: 90%;
}
.fotos{
    display: flex;
    justify-content:center;
    align-items: center;
}
.navpills{
    text-align: center; 
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin: 2% ;
    margin-right: 85%;
    size: 50%;
}

.nav-link{
    text-align: center; 
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin: 2% ;
    margin-right: 85%;
    size: 50%;
}

.frases{
    font:bold;
    font-family: serif;
    font-size: 4vw;
}


.links{
    border: 5px solid #3e477d; 
    border-style:double;
  background-color: hsl(0, 0%, 100%); 
  color: #000000; 
  border-radius: 2vw; 
  text-align: center; 
  font-size: 1.5vw;
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 1px; 
  margin: 10px 0;
  margin-right: 100%;
  font:bolder;
  font-family: serif;
}

.lista{
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 120vw;
    margin: 0 auto;
    padding: 5vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    flex: 1;
    padding: 20px;
}
h2 {
    font-size: 5vw;
    color: #333;
    margin-bottom: 10px;
}
p {
    font-size: 1.5vw;
    color: #666;
}
.image {
    flex: 1;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.atit{
    margin-bottom: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; 
    font:bolder
}
.subtit{
    margin-bottom: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; 
}
.subpar{
    color: #000000;;
}

.cuadro{
    background-color: hsl(0, 0%, 100%);
    border: 2px solid #edd489;
    border-style: double;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.titulorestos{
    background-color: hsl(0, 0%, 100%);
    border: 1vw solid #edd489;
    border-style: double;
    border-top: 1vw;
    border-left: 1vw;
    border-right: 1vw;
    font-family:fantasy;
    font:bold;
    text-align: center; 
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
}
.infogastr{
    background-color: hsl(0, 0%, 100%);
    border: 1vw solid #edd489;
    border-style: double;
    font-size: 1.5vw;
    font-family: serif;
    text-align: center;
    color: #000000;
}

.restaurant-title{
    margin-top: 4vw;
    font-size: 4vw;
    font-family: fantasy;
    text-decoration: underline;
}
.restx{
    font-family: Arial, sans-serif;
    background-color: #fee8a7;
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

.containerx {
   width: 70vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.titulox {
    text-decoration: underline;
    font-family: serif;
}

.restaurant-listx {
    list-style: disc; 
    padding-left: 20px;
    font-size: 2vw;
    font-family: cursive;
}

.restaurant-listx li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw; 
    border-bottom: 1px solid #000000;
}

.botonx {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
}

.page-divider {
    margin: 4vw 4vw; 
    border: 0.5vw solid #482a03; 
    border-style: inset;
}

#reloj {
    font-family: Arial, sans-serif;
    font-size: 2vw;
    color: #007BFF; 
    background-color: #fff;
    border: 2px solid #007BFF; 
    border-radius: 10px;
    padding: 10px;}
